<div class="row readit_block">
    <div id="listDemandes">
        <div ng-hide="requests.length">
            <p class="alert alert-info">Vous n'avez aucune demande d'ajout</p>
        </div>
        <div ng-show="requests.length">
            <h3>Liste des demandes :</h3>
            <hr/>
            <ul class="example-animate-container"  ng-repeat="request in requests">
                <li>
                    <a href="#/user/display/{{request.name}}"
                            class="btn btn-default" >
                        <i class="glyphicon glyphicon-user"></i>
                        {{request.name}}
                    </a>
                    <span ng-click="valideRequest(auth.currentUser(),request.name)"
                          class="btn btn-success glyphicon glyphicon-ok"></span>
                    <span ng-click="removeRequest(auth.currentUser(),request.name)"
                          class="btn btn-danger glyphicon glyphicon-trash"></span>
                </li>
            </ul>
        </div>
    </div>
</div>


