<div class="row readit_block">
    <h2 class="form-login-heading">Contactez-nous</h2>
    <hr/>

    <form class="form-login col-sm-8 col-sm-offset-2" name="contactform" ng-controller="ContactUserController">
        <!-- Email -->
        <div class="form-group"  ng-class="{'has-error':contactform.email.$invalid && contactform.email.$dirty }" >
            <input  class="form-control" type="Email" id="email" name="email" placeholder="Votre e-mail" ng-model="email" required>
            <span class="help-block" ng-show="contactform.email.$error.required && contactform.email.$dirty">Vous devez saisir votre adresse</span>
            <span class="help-block" ng-show="contactform.email.$error.email">Cette adresse est invalide</span>
        </div>

        <!-- subject_message -->
        <div class="form-group" ng-class="{'has-error':contactform.subject_message.$invalid && contactform.subject_message.$dirty }">
            <input class="form-control" type="text" id="subject_message" name="subject_message" placeholder="Sujet du message" ng-model="subject_message" ng-minlength="2" ng-maxlength="30" required  />
            <span class="help-block"
                  ng-show="contactform.subject_message.$error.required && contactform.subject_message.$dirty">Ce champ est obligatoire</span>
            <span class="help-block"
                  ng-show="contactform.subject_message.$error.minlength || contactform.subject_message.$error.maxlength" >
                Ce champ doit comprendre entre 2 et 30 caractères.
            </span>
        </div>

        <!-- Texte -->
        <div class="form-group" ng-class="{'has-error':contactform.text.$invalid && contactform.text.$dirty }">
            <textarea class="form-control" type="text" placeholder="Veuillez saisir votre message" id="text" name="text" ng-model="text_message" ng-minlength="2" ng-maxlength="300" required  />
            <span class="help-block" ng-show="contactform.text.$error.required && contactform.text.$dirty">Ce champ est obligatoire</span>
            <span class="help-block" ng-show="contactform.text.$error.minlength">Il faut minimum 8 caractères</span>
            <span class="help-block" ng-show="contactform.text.$error.maxlength">Vous ne pouvez saisir plus de 300 caractères</span>
        </div>

        <!--Button-->
        <button class="btn btn-lg btn-primary btn-block" ng-click="contact()" ng-disabled="!contactform.$valid"
                data-animation="am-fade-and-scale" data-placement="center" bs-modal="modal">Envoyer</button>

    </form>
</div>