<div class="row readit_block">

    <h2 class="form-login-heading">Récupération du mot de passe</h2>
    <hr/>
    <p class="readit_content">
        Afin de pouvoir vous reconnecter, nous allons vous envoyer un formulaire de réinitialisation de votre mot de passe.<br/>
        Pour cela, veuillez nous fournir votre adresse mail de votre compte readit dans le champs ci-dessous.
    </p>

    <form name="userform" class="row col-sm-8 col-sm-offset-2" ng-submit="forgot()">
        <div class="alert alert-danger" ng-show="error">
            {{error.message}}
        </div>

        <div class="input-group" ng-class="{'has-error':userform.email.$invalid && userform.email.$dirty }" >
            <span class="input-group-addon">Email :</span>
            <input type="Email" class="form-control" id="email" name="email" placeholder="Adresse mail" ng-model="email" required>
        </div>
        <span class="help-block alert-danger" ng-show="userform.email.$error.required && userform.email.$dirty">Veuillez renseigner votre e-mail.</span>
        <span class="help-block alert-danger" ng-show="userform.email.$error.email">Cette adresse est invalide.</span>

        <button class="btn btn-lg btn-primary btn-block" ng-disabled="!userform.$valid">Envoyer</button>
    </form>
    <div class="clearfix"></div>

    <p class="readit_content">Pour toute autre demande, merci de nous <a ui-sref="contact">contacter</a>.</p>

</div>

