<div class="row readit_block">
    <form name="userform" class="col-sm-8 col-sm-offset-2" ng-submit="forgot()">
            <legend><h2 class="form-login-heading">Récuperation du mot de passe</h2></legend>

            <!--Erreur-->
            <div class="alert alert-danger" ng-show="error">
                {{erreur}}
            </div>

            <!-- Email -->
            <div class="form-group"  ng-class="{'has-error':userform.email.$invalid && userform.email.$dirty }" >
                <input type="Email" class="form-control" id="email" name="email" placeholder="Saisie Email" ng-model="email" required>
                <span class="help-block" ng-show="userform.email.$error.required && userform.email.$dirty">Ce champ est obligatoire.</span>
                <span class="help-block" ng-show="userform.email.$error.email">Email est invalide.</span>
            </div>

            <!--Button-->
            <button class="btn btn-lg btn-primary btn-block" ng-disabled="!userform.$valid">Envoyer</button>
    </form>
</div>

