<div class="row readit_block">
    <h3>Boite de réception :</h3>
    <hr/>
    <div ng-hide="messages.length">
        <p class="alert alert-info">Vous n'avez aucun message</p>
    </div>
    <div ng-show="messages.length">
        <p>Vous avez {{messages.length}} message<span ng-show="messages.length > 1">s</span></p>
        <div class="readit_block col-sm-4 col-xs-6" ng-repeat="messageCorps in messages">
            <div class="{{messageCorps.reads ? '' : 'unreaded'}}">
                <p>{{messageCorps.date.toLocaleString()}}<br/>
                    De: {{messageCorps.sender}}<br/>
                    Objet : {{messageCorps.objet}}
                </p>

                <span ng-model="messageChoice" ng-click="displayMessage(auth.currentUser(),messageCorps)"
                      class="btn btn-default">
                    <i class="glyphicon glyphicon-eye-open"></i>
                </span>
                <span class="btn btn-danger glyphicon glyphicon-trash pull-right" ng-click="removeMessage(auth.currentUser(),messageCorps._id)"></span>

            </div>
        </div>
    </div>
</div>
<div class="row readit_block" ng-show="messageShow">
    <div id="messageShow" class="col-sm-8">
        <div>
            <span class="btn btn-primary"
                  ng-click="answer(auth.currentUser())" ui-sref="message({ username: messageShow.sender})">
                <i class="glyphicon glyphicon-share-alt"></i>
                Répondre
            </span>
            <span class="btn btn-danger"
                  ng-click="removeMessage(auth.currentUser(), messageShow._id)">
                <i class="glyphicon glyphicon-trash"></i>
                Supprimer
            </span>
        </div>
        <div class="messageContent">
            <span class="user">
                <a href="#/user/display/{{messageShow.sender}}">{{messageShow.sender}}</a>
            </span>
            <span class="pull-right">{{messageShow.date.toLocaleString()}}</span>
            <span class="object">Objet : {{messageShow.objet}}</span>
            <div class="messageCorps" ng-bind-html="messageShow.message">
                {{messageShow.message}}
            </div>
        </div>
    </div>
</div>