<div class="row readit_block">
    <div class="col-sm-3" id ="scrollBar" >
        <aside class="col-sm-12" ng-repeat="messageCorps in messages"> <!-- Center Large Column -->
            <div class=" {{messageCorps.reads ? '' : 'unreaded'}}">
                <button class="col-sm-offset-11 glyphicon glyphicon-remove-sign" ng-click="removeMessage(auth.currentUser(),messageCorps._id)"></button>
                <br/>
                <a href="" ng-model="messageChoice" ng-click="displayMessage(auth.currentUser(),messageCorps)">

                    {{messageCorps.sender}}
                    <br/>
                    <b>objet</b> : {{messageCorps.objet}}
                    <br/>
                    {{messageCorps.date.toLocaleString()}}
                </a>

            </div>
        </aside>
    </div>
</div>
<div class="row" ng-show="messageShow=='true'">
    <div class="col-m-12">
        <aside class="col-sm-4"> <!-- Center Large Column -->
            <div>
                <b> envoyé par </b>:{{sender}}
                <br/>
                <b>objet</b> :{{objet}}
                <br/>
                <b>message </b>:
                <br/>
                <div ng-bind-html="message">
                    {{message}}
                </div>
            </div>
            <button ng-click="ansewer(auth.currentUser())" class="col-sm-offset-11" ui-sref="message({ username: user})">répondre</button>
        </aside>
    </div>
</div>
