<div class="row readit_block">
    <div id="listOeuvres">
        <div ng-show="auth.isAdmin()" class="readit_content">
            <button class="btn btn-default" ui-sref="import">Importer des oeuvres </button>
            <button class="btn btn-primary" ui-sref="adminAddOeuvre">Ajouter une oeuvre</button>
        </div>
        <div ng-hide="oeuvres.length">
            <p class="alert alert-info"> Aucune Oeuvres</p>
        </div>
        <div ng-show="oeuvres.length">
            <h3>Liste des oeuvres :</h3>
            <hr/>
            <ul>
                <li id="listOeuvre" ng-repeat="oeuvre in oeuvres">
                    <a class="btn" ui-sref="oeuvre({ id: oeuvre._id})"> {{oeuvre.name}}</a>
                    <span ng-show="auth.isAdmin()" class="pull-right">
                        <i class="glyphicon glyphicon-pencil btn btn-primary"
                           ui-sref="adminUpdateOeuvre({id: oeuvre._id})"></i>
                        <i class="glyphicon glyphicon-trash btn btn-danger"
                           ng-click="remove(oeuvre)"></i>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>