<div class="container">
    <div class="row">
        <div class="col-m-10">
            <aside class="col-sm-9"> <!-- Center Large Column -->
                <div id="listOeuvres" ng-show="oeuvres">
                    <h3>Liste des oeuvres :</h3>
                    <ul class="example-animate-container">
                        <li id="listOeuvre" ng-repeat="oeuvre in oeuvres">
                            <a ui-sref="oeuvre({ id: oeuvre._id})"> {{oeuvre.name}} </a>
                        </li>
                    </ul>
                    <button ui-sref="import">importer des oeuvres </button>
                </div>
            </aside>
        </div>
    </div>
</div>