<div class="row readit_block">
    <div class="alert alert-success" role="alert" ng-show="message_return_valide=='valide'" value="false">{{message_return}}</div>
    <div class="alert alert-danger" role="alert" ng-show="message_return_erreur=='erreur'" value="'false'"> {{message_return_error}}</div>
    <form method="POST" ng-submit="sendMessage(username,objet,newMessage)" class="col-md-9" >
        <div class="input-group">
            <span class="input-group-addon" >Utilisateur :</span>
            <input class="form-control" type="text"
                   placeholder="Pseudo" ng-model="username" required>
        </div>
        <div class="input-group">
            <span class="input-group-addon" >Objet :</span>
            <input class="form-control" type="text"
                   placeholder="Objet" ng-model="objet" required>
        </div>
        <div class="input-group">
            <span class="input-group-addon" >Message :</span>
            <wysiwyg
                    textarea-id="message"
                    textarea-class="form-control"
                    textarea-height="80px"
                    textarea-name="textareamessage"
                    textarea-required
                    ng-model="newMessage"
                    enable-bootstrap-title="true"
                    textarea-menu="messageMenu"
                    required >
            </wysiwyg>
        </div>

        <button class="pull-right btn btn-primary"
                ng-model="sendMessageButton" type ="submit" > Envoyer</button>
    </form>
</div>