<div class="container">
    <div class="row">
        <div class="col-m-10">
            <aside class="col-sm-9"> <!-- Center Large Column -->
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <!-- Form -->
                        <form class="form-reset" name="userForm">
                            <legend><h2 class="form-reset-heading">Changement du mot de passe</h2></legend>

                            <!--Erreur-->
                            <div class="alert alert-danger" ng-show="error">
                                {{erreur}}
                            </div>

                            <!-- Password -->
                            <div class="form-reset" ng-class="{'has-error':userForm.password.$invalid && userForm.password.$dirty }">
                                <label class="control-label" for="password">Password :</label>
                                <input class="form-control" type="password" id="password" name="password" ng-model="user.password" ng-minlength="8" ng-maxlength="20" required  />
                                <span class="help-block" ng-show="userForm.password.$error.required && userForm.password.$dirty">this is required</span>
                                <span class="help-block" ng-show="!userForm.password.$error.required && (userForm.password.$error.minlength || userForm.password.$error.maxlength) && userForm.password.$dirty">Password must be between 8 and 20 characters.</span>
                            </div>

                            <!-- confirmpassword -->
                            <div class="form-reset" ng-class="{'has-error':userForm.password_conf.$invalid && userForm.password_conf.$dirty }">
                                <label class="form-label" for="password_conf">Confirm Password :</label>
                                <input class="form-control" type="password" id="password_conf" name="password_conf" data-ng-model="user.password_conf" equals-to="userForm.password" required  />
                                <span class="help-block" ng-show="userForm.password_conf.$error.required && userForm.password_conf.$dirty">Please confirm your password.</span>
                                <span class="help-block" ng-show="(!userForm.password_conf.$error.required && userForm.password.$dirty) && !userForm.password_conf.$valid">Passwords do not match.</span>


                            </div>

                            <!-- Valider -->
                            <button ng-click="resetpassword()" class="btn btn-primary" ng-disabled="(!userForm.$valid)" >Valider</button>

                        </form>

                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>