<div class="row readit_block">
    <h2>Recherche : <b>{{searchText}}</b></h2>
    <hr/>
    <div ng-hide="(oeuvres|filter:searchText).length">
        <p class="alert alert-info">Il n'y a aucune oeuvre correspondant à la recherche</p>
    </div>
    <div id="listOeuvres" ng-show="(oeuvres|filter:searchText).length">
        <h3>Oeuvres correspondant à la recherche :</h3>
        <ul>
            <li id="listOeuvre" ng-repeat="oeuvre in oeuvres | filter:searchText">
                <a ui-sref="oeuvre({ id: oeuvre._id})">
                    {{oeuvre.name}}
                </a>
            </li>
        </ul>
    </div>

    <hr/>

    <div ng-hide="users.length">
        <p class="alert alert-info">Il n'y a aucun utilisateur correspondant à la recherche</p>
    </div>
    <div id="users" ng-show="users.length">
        <h3>Utilisateurs correspondant à la recherche :</h3>
        <ul>
            <li ng-repeat="user in users">
                <a ui-sref="userDisplay({ user: user.username})">
                    {{user.username}}
                </a>
            </li>
        </ul>
    </div>
</div>