<br/>
<div class="container">
    <div class="row">
        <div class="col-m-10">
            <div>
                <div>
                    <form name="Sondageform" ng-submit="voteSondage(sondage)">
                        <!-- Question -->
                        <div class="input-group">
                            <span><h3>Question : {{sondage.question}}</h3></span>
                        </div>

                        <!--Réponses-->
                        <div class="input-group">
                            <span><h4>Les réponses :</h4></span>

                            <div class="form-group col-sm-12" ng-repeat="reponse in sondage.reponses">
                                <fieldset>

                                    <input type="radio" name="vote" ng-model="sondage.vote" value="{{reponse._id}}"> {{reponse.name}} : {{reponse.rep}}

                                </fieldset>

                            </div>

                        </div>


                        <button class="btn btn-primary" ng-disabled="!Sondageform.$valid" >Voter</button>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>