<div class="row readit_block">
    <h2>Termes et conditions</h2>
    <pre>
1. APPLICATION DES CONDITIONS GENERALES D'UTILISATION

Bienvenue sur le site read-it. Ce site internet est édité par GHASDA Group.

L'utilisation de ce site est soumise à l'acceptation pleine et entière par l'utilisateur (ci-après l'« Utilisateur ») des présentes conditions d'utilisation.
Le fait d'accéder et de naviguer sur le site de read-it constitue de la part de l'utilisateur une acceptation sans réserve des Conditions Générales d'Utilisation. Ces dernières étant mises à jour régulièrement, l'utilisateur est invité à les consulter à chacune de ses visites sur ledit site.


2. DEFINITIONS

« Conditions Générales d'Utilisation » : désigne les présentes conditions d'utilisation du Site.

« Site » : désigne le site internet accessible à l'adresse www.fepem.fr. Le Site comprend l'infrastructure ainsi que le contenu, notamment les textes, sons, images fixes ou animées, vidéos et bases de données.

« Utilisateur(s) » : désigne toute personne physique qui utilise le Site et, plus généralement toute personne qui accède au Site.


3. OBJET – APPLICATION, MODIFICATION ET ACCEPTATION DES CONDITIONS GENERALES D'UTILISATION

3.1 Les présentes Conditions Générales d'Utilisation ont pour objet de définir les termes et conditions dans lesquels les Utilisateurs utilisent le Site et ses différentes fonctionnalités et notamment de définir les conditions d'utilisation des services accessibles sur le Site.

3.2 La FEPEM se réserve le droit de modifier à tout moment les présentes Conditions Générales d'Utilisation, par exemple pour les adapter aux modifications législatives, réglementaires ou aux évolutions techniques du Site, ou de modifier les différents produits ou services proposés par le Site.

3.3 Les présentes Conditions Générales d'Utilisation sont mises à jour régulièrement. Par conséquent, l'Utilisateur du Site est invité à les consulter à chacune de ses visites sur le Site.

3.3 L'utilisation du Site par l'Utilisateur implique son acceptation sans réserve des présentes Conditions Générales d'Utilisation.


4. DESCRIPTION DES SERVICES ACCESSIBLES SUR LE SITE

Le Site permet d'accéder gratuitement à des informations relatives aux comics, mangas, bandes dessinnées

5. CONDITIONS D'UTILISATION DU SITE

Tout Utilisateur ne respectant pas les présentes Conditions Générales d'Utilisation peut se voir retirer l'accès aux services du Site sans indemnité ni préavis, et sans préjudice de l'exercice par le Site de tous recours ou voies de droit qu'il jugerait appropriés à l'encontre de l'Utilisateur.

Tout Utilisateur doit être âgé de 18 ans au minimum ou utiliser le Site sous la responsabilité d'un majeur.

Il appartient aux Utilisateurs d'utiliser les informations figurant sur le Site avec prudence et de procéder à toute vérification nécessaire sous leur responsabilité exclusive.


6. PROTECTION DE LA VIE PRIVEE

Le Site est conforme aux règles françaises relatives à la protection de la vie privée et des données personnelles, et notamment à la loi n° 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, modifiée par la loi 2004-801 du 6 août 2004.

Dans certaines circonstances, l'Utilisateur fournit des informations à caractère personnel le concernant.

Les informations à caractère personnel qui permettent de l'identifier (par exemple nom, prénom, adresse ou adresse e-mail) sont collectées notamment au moyen de formulaires d'identification.

Elles font l'objet d'un traitement automatisé et sont destinées au seul Site.

Certaines informations portées sur ces formulaires sont obligatoires pour accéder à certaines fonctionnalités du Site. Elles peuvent également être utilisées par le Site pour afficher un contenu personnalisé ou faire une offre commerciale sur les éventuels produits et services du Site.

Conformément à la loi du 6 janvier 1978 modifiée susvisée, l'Utilisateur dispose auprès du Site d'un droit d'accès, de rectification ou de suppression concernant ses données personnelles en adressant un courriel à l'adresse suivante : social.readit@gmail.com.
    </pre>
</div>