#login_view form{
    margin:auto;
}
.form-login {
    max-width: 330px;
    padding: 15px;
}
.form-login .form-login-heading,
.form-login .checkbox {
    margin-bottom: 10px;
}
.form-login .form-control {
    padding: 10px;
}
.form-login input[type="password"] {
    margin-bottom: 10px;
}
