<div id="admin_event_view" class="container">
    <div class="row">
        <div class="col-m-10">
            <aside class="col-sm-9"> <!-- Center Large Column -->
                <div class="row">
                    <div ng-hide="events != null && events.length">
                        <p class="alert alert-info">Il n'y a aucun évenement à valider</p>
                    </div>

                    <div ng-show="events != null && events.length" >
                        <h3 ng-show="events.length > 1">Valider les {{events.length}} évenements suivants:</h3>
                        <h3 ng-show="events.length == 1">Valider l'évenement suivant:</h3>
                        <button ng-init="selectedEvent=events[0]" type="button" class="btn btn-default"
                                ng-model="selectedEvent" data-html="1"
                                bs-options="event.title for event in events"
                                bs-select >
                            Evenement <span class="caret"></span>
                        </button>
                        <hr>

                        <ng-form ng-show="selectedEvent != null" class="col-sm-8 admin_block" name="validEventForm" role="form" ng-model="eventSelected">

                            <div id="author_event" class="input-group col-xs-12">
                                <span class="input-group-addon" id="basic-addon-author"><i class="glyphicon glyphicon-user"></i></span>
                                <input type="text" class="form-control" aria-describedby="basic-addon-author"
                                       name="title"
                                       disabled
                                       ng-model="authorEvent"
                                       placeholder="{{selectedEvent.author}}" >
                            </div>

                            <div id="title_event" class="input-group col-xs-12">
                                <span class="input-group-addon" id="basic-addon-title"><i class="glyphicon glyphicon-tag"></i></span>
                                <input type="text" class="form-control" aria-describedby="basic-addon-title"
                                       name="title"
                                       ng-model="titleEvent"
                                       placeholder="{{selectedEvent.title}}"
                                       ng-minlength="3"
                                       ng-maxlength="50" >
                            </div>

                            <div id="date_event" class="input-group col-xs-12" >
                                <span class="input-group-addon" id="basic-addon-calendar"><i class="glyphicon glyphicon-calendar"></i></span>
                                <input type="text" class="form-control" aria-describedby="basic-addon-calendar"
                                       name="date"
                                       ng-model="dateEvent"
                                       placeholder="{{ selectedEvent.date | date:'dd/MM/yyyy' }}"
                                       data-date-format="dd/MM/yyyy"
                                       data-date-type="number"
                                       data-autoclose="1"
                                       bs-datepicker >
                            </div>

                            <div id="description_event" class="input-group col-xs-12" >
                                <span class="input-group-addon" id="basic-addon-description"><i class="glyphicon glyphicon-align-left"></i></span>
                                <textarea type="text" class="form-control" aria-describedby="basic-addon-description"
                                      name='description'
                                      ng-model='descriptionEvent'
                                      placeholder="{{selectedEvent.description}}"
                                      ng-maxlength="400" ></textarea>
                            </div>

                            <div id="url_event" class="input-group col-xs-12">
                                <span class="input-group-addon" id="basic-addon-url"><i class="glyphicon glyphicon-link"></i></span>
                                <input type="text" class="form-control" aria-describedby="basic-addon-url"
                                       name="url"
                                       ng-model="urlEvent"
                                       placeholder="{{selectedEvent.url || 'ex: http://monurl.com' }}" >
                            </div>

                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon-textColor">
                                    <i class="glyphicon glyphicon-text-color"></i>
                                </span>
                                <button type="button" class="btn btn-block" aria-describedby="basic-addon-textColor"
                                        ng-style="{'background-color':textColor}"
                                        ng-model="textColor" data-html="1"
                                        bs-options="tcolor for tcolor in textColors"
                                        bs-select >
                                    Action <span class="caret"></span>
                                </button>
                            </div>

                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon-backgroundColor">
                                    <i class="glyphicon glyphicon-text-background"></i>
                                </span>
                                <button type="button" class="btn btn-block pull-right" aria-describedby="basic-addon-backgroundColor"
                                        ng-style="{'background-color':backgroundColor}"
                                        ng-model="backgroundColor" data-html="1"
                                        bs-options="bcolor for bcolor in backgroundColors"
                                        bs-select >
                                    Action <span class="caret"></span>
                                </button>
                            </div>

                            <div id="display_event" class="input-group">
                                <input id="checkboxDisplay" type="checkbox" ng-model="displayEvent" ng-checked="selectedEvent.display==true">
                                <label for="checkboxDisplay">
                                    Afficher dans le calendrier
                                </label>
                            </div>

                            <button class="btn btn-primary" type="submit"  ng-click="validEvent()"
                                    ng-disabled="!validEventForm.$valid">Valider</button>

                            <button class="btn btn-danger pull-right" ng-click="deleteEvent()">Supprimer</button>
                        </ng-form>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>