<div class="row readit_block">
    <h2>Gestion d'évenement</h2>

    <div class="btn-group readit_content">
        <button class="btn btn-{{(interface=='create') ? 'primary' : 'default'}}" ng-click="toggleView()" > Création</button>
        <button class="btn btn-{{(interface!='create') ? 'primary' : 'default'}}" ng-click="toggleView()" > Modification</button>
    </div>

    <div ng-show="interface=='create'">
        <h3>Créer un evenement</h3>
        <hr/>
        <ng-form class="col-sm-8 admin_block"
                 name="createEventFormular"
                 role="form"
                 ng-model="eventSelected">

            <div class="input-group col-xs-12" ng-hide="true">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="text" class="form-control"
                       name="author"
                       disabled
                       ng-model="createEventForm.author"
                       placeholder="{{selectedEvent.author}}" >
            </div>

            <div class="input-group col-xs-12">
                <span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
                <input type="text" class="form-control"
                       name="title"
                       ng-model="createEventForm.title"
                       placeholder="Titre"
                       ng-minlength="3"
                       ng-maxlength="50" >
            </div>

            <div class="input-group col-xs-12">
                <span class="input-group-addon"><i class="glyphicon glyphicon-book"></i></span>
                <button type="button" class="btn btn-block"
                        ng-model="createEventForm.oeuvre" data-html="1"
                        bs-options="oeuvre.name for oeuvre in oeuvres"
                        bs-select >
                    Oeuvre <span class="caret"></span>
                </button>
            </div>

            <div class="input-group col-xs-12" >
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                <input type="text" class="form-control"
                       name="date"
                       placeholder="Date"
                       ng-model="createEventForm.date"
                       data-date-format="dd/MM/yyyy"
                       data-date-type="number"
                       data-autoclose="1"
                       bs-datepicker >
            </div>

            <div class="input-group col-xs-12" >
                <span class="input-group-addon"><i class="glyphicon glyphicon-align-left"></i></span>
                <textarea type="text" class="form-control"
                          name='description'
                          placeholder="Description"
                          ng-model='createEventForm.description'
                          ng-maxlength="400" ></textarea>
            </div>

            <div class="input-group col-xs-12">
                <span class="input-group-addon"><i class="glyphicon glyphicon-link"></i></span>
                <input type="text" class="form-control"
                       name="url"
                       ng-model="createEventForm.url"
                       placeholder="{{ 'ex: http://monurl.com' }}" >
            </div>

            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-text-color"></i>
                </span>
                <button type="button" class="btn btn-block"
                        ng-style="{'background-color':createEventForm.textColor.value}"
                        ng-model="createEventForm.textColor" data-html="1"
                        ng-init="selectedEvent.textColor"
                        bs-options="tcolor.name for tcolor in colors"
                        bs-select >
                    Action <span class="caret"></span>
                </button>
            </div>

            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-text-background"></i>
                </span>
                <button type="button" class="btn btn-block pull-right"
                        ng-style="{'background-color':createEventForm.backgroundColor.value}"
                        ng-model="createEventForm.backgroundColor" data-html="1"
                        bs-options="bcolor.name for bcolor in colors"
                        bs-select >
                    Action <span class="caret"></span>
                </button>
            </div>

            <div class="input-group btn btn-default">
                <input id="checkboxDisplay" type="checkbox"
                       ng-model="createEventForm.display" >
                <label for="checkboxDisplay">
                    Afficher dans le calendrier
                </label>
            </div>

            <button class="btn btn-primary" type="submit"
                    ng-click="createEvent()"
                    ng-disabled="!createEventFormular.$valid">Créer</button>

        </ng-form>
    </div>

    <div ng-show="eventInterface=='update'">
        <h3>Liste des évenements :</h3>
        <input type="text" class="form-control col-sm-5" placeholder="Chercher un evenement" ng-model="eventSeach">
        <form name="selectEventForm">
            <div ng-repeat="event in events | filter : eventSearch">
                <input type="radio" name="eventRadio"
                       value="{{event._id}}" ng-model="radio" >
                <div class="btn btn-default">
                    <span ng-show="event.display" class="glyphicon glyphicon-calendar"></span>
                    <span ng-hide="event.display" class="glyphicon glyphicon-eye-close"></span>
                    {{event.title}}
                </div>
                <div class="pull-right" ng-show="radio==event._id">
                    <button class="glyphicon glyphicon-trash btn btn-danger"
                            ng-click="deleteEvent(event)" ></button>
                    <button class="glyphicon glyphicon-pencil btn btn-primary"
                            ng-click="chooseEvent(event)" ></button>
                </div>
            </div>
        </form>
    </div>


    <div ng-show="eventInterface=='update' && selectedEvent != null">
        <form class="col-sm-8 admin_block"
              name="updateEventForm"
              role="form"
              ng-submit="updateSelectedEvent()"
              ng-model="eventSelected" >

            <div id="author_event" class="input-group col-xs-12">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="text" class="form-control"
                       name="title"
                       disabled
                       ng-model="selectedEvent.author"
                       placeholder="{{selectedEvent.author}}" >
            </div>

            <div id="title_event" class="input-group col-xs-12">
                <span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
                <input type="text" class="form-control"
                       name="title"
                       ng-model="selectedEvent.title"
                       placeholder="{{selectedEvent.title}}"
                       ng-minlength="3"
                       ng-maxlength="50" >
            </div>

            <div id="oeuvre_id" class="input-group col-xs-12">
                <span class="input-group-addon"><i class="glyphicon glyphicon-book"></i></span>
                <button type="button" class="btn btn-block"
                        ng-model="selectedEvent.oeuvre" data-html="1"
                        bs-options="oeuvre.name for oeuvre in oeuvres"
                        required=""
                        bs-select >
                    Oeuvre <span class="caret"></span>
                </button>
            </div>

            <div id="date_event" class="input-group col-xs-12" >
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                <input type="text" class="form-control"
                       name="date"
                       ng-model="selectedEvent.date"
                       placeholder="{{ selectedEvent.date | date:'dd/MM/yyyy' }}"
                       data-date-format="dd/MM/yyyy"
                       data-date-type="number"
                       data-autoclose="1"
                       bs-datepicker >
            </div>

            <div id="description_event" class="input-group col-xs-12" >
                <span class="input-group-addon"><i class="glyphicon glyphicon-align-left"></i></span>
                <textarea type="text" class="form-control"
                          name='description'
                          ng-model='selectedEvent.description'
                          placeholder="{{selectedEvent.description}}"
                          ng-maxlength="400" ></textarea>
            </div>

            <div id="url_event" class="input-group col-xs-12">
                <span class="input-group-addon"><i class="glyphicon glyphicon-link"></i></span>
                <input type="text" class="form-control"
                       name="url"
                       ng-model="selectedEvent.url"
                       placeholder="{{selectedEvent.url || 'ex: http://monurl.com' }}" >
            </div>

            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-text-color"></i>
                </span>
                <button type="button" class="btn btn-block"
                        ng-style="{'background-color':selectedEvent.textColor.value}"
                        ng-model="selectedEvent.textColor" data-html="1"
                        ng-init="selectedEvent.textColor"
                        bs-options="tcolor.name for tcolor in colors"
                        bs-select >
                    Action <span class="caret"></span>
                </button>
            </div>

            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-text-background"></i>
                </span>
                <button type="button" class="btn btn-block pull-right"
                        ng-style="{'background-color':selectedEvent.backgroundColor.value}"
                        ng-model="selectedEvent.backgroundColor" data-html="1"
                        bs-options="bcolor.name for bcolor in colors"
                        bs-select >
                    Action <span class="caret"></span>
                </button>
            </div>

            <div id="display_event" class="input-group btn btn-default">
                <label>
                    <input type="checkbox"
                           ng-model="selectedEvent.display"
                           ng-checked="selectedEvent.display==true" >
                    Afficher dans le calendrier
                </label>
            </div>

            <button class="btn btn-primary" type="submit"
                    ng-disabled="!updateEventForm.$valid">Valider</button>

            <button class="btn btn-danger pull-right"
                    ng-click="deleteEvent(selectedEvent)">Supprimer</button>

        </form>
    </div>
</div>