<div class="row readit_block">
    <h2>Gestion des sondages</h2>
    <hr/>

    <div class="btn-group readit_content">
        <button class="btn btn-{{(interface=='create') ? 'primary' : 'default'}}" ng-click="toggleView()" > Création</button>
        <button class="btn btn-{{(interface!='create') ? 'primary' : 'default'}}" ng-click="toggleView()" > Modification</button>
    </div>

    <div ng-show="interface=='create'">
        <h3>Création d'un sondage</h3>
        <hr/>
        <form name="sondageForm">

            <div class="alert alert-danger" ng-show="error">
                {{ error.message }}
            </div>

            <!-- Question -->
            <div class="input-group" data-ng-class="{'has-error':!sondageForm.question.$valid && sondageForm.question.$dirty }">
                <span class="input-group-addon" >Question :</span>
                <input id="question"  type="text" class="form-control"
                       name="question"
                       placeholder="Question"
                       ng-minlength="4" ng-maxlength="50"
                       ng-model="sondage.question"
                       required>
            </div>
            <span class="help-block" data-ng-show="sondageForm.question.$error.required && sondageForm.question.$dirty">Ce champ est obligatoire.</span>
                            <span class="help-block" ng-show="!sondageForm.question.$error.required
                            && (sondageForm.question.$error.minlength || sondageForm.question.$error.maxlength)
                            && sondageForm.question.$dirty">Entre 4 et 50 caractères.</span>

            <h4>Les réponses :</h4>
            <div class="form_block">
                <div class="input-group" ng-repeat="reponse in reponses">
                    <span class="control-label input-group-addon">{{reponse.name}}</span>
                    <input class="form-control" type="text" ng-model="reponse.rep"
                           ng-maxlength="20" required >
                </div>
                <div class="form-group">
                    <button class="btn btn-primary"
                            ng-show="reponses.length < 5"
                            ng-click="addResponse()" ng-disabled="!sondageForm.question.$valid">
                        <i class="glyphicon glyphicon-plus"></i>
                        Ajouter une réponse</button>
                    <button class="btn btn-danger"
                            ng-show="reponses.length > 2" ng-disabled="sondageForm.reponse.$valid" ng-click="removeResponse()">
                        <i class="glyphicon glyphicon-remove"></i>
                        Retirer une réponse
                    </button>
                </div>
                        </div>

            <div class="readit_content">
                <button class="btn btn-primary" ng-click="registerDetailSondage(sondage)" ng-disabled="!sondageForm.$valid" >Créer le sondage</button>
                </div>

        </form>
    </div>

    <div ng-show="interface=='update'">

        <h3>Liste des sondages</h3>
        <hr/>
        <div class="alert alert-info" ng-show="sondages.questions.length==0">
            Il n'y a aucun sondage.
        </div>
        <form name="FormListSondages">
            <div class="col-sm-offset-1" ng-repeat="sondage in sondages.questions">
                <input type="radio" name="radioListSondages" ng-checked="" value="Ok" ng-model="radioOk" > {{sondage.question}}
                <button class="col-sm-offset-3 glyphicon glyphicon-trash" ng-click="removeSondage(sondage._id,sondages._id)" ng-show="radioOk=='Ok'"></button></button>
                <button class="glyphicon glyphicon-pencil" ng-show="radioOk=='Ok'" value="modify" ng-model="Modifybutton" ng-click="detailsSondage(sondage,sondages._id)"></button>
                <button class="glyphicon glyphicon-ok" ng-show="radioOk=='Ok'" ng-model="Activebutton" ng-click="activeSondage(sondage._id,sondages._id)"></button>
            </div>
        </form>

        <div name="Showmodifyuser" ng-show="Displaydetailsondage=='modify'">
            <h3>Modification du sondage :</h3>
            <hr/>
            <form name="Modifysondageform" ng-submit="modifyDetailsSondage(modifysondage)">
                <div class="alert alert-danger" ng-show="Modifyerror">
                    {{ Modifyerror.message }}
                </div>

                <!-- Question -->
                <div class="input-group">
                    <span>Question : {{modifysondage.question}}</span>
                </div>

                <!--Réponses-->
                <div class="input-group">
                    <span><h4>Vos réponses :</h4></span>
                    <div class="form-group">
                        <button ng-click="addResponseToSondage()" class="btn btn-info">Ajouter une réponse</button>
                    </div>

                    <div class="form-group " ng-repeat="reponse in modifysondage.reponses">
                        <fieldset>
                            <label class="col-sm-3 control-label">
                                {{reponse.name}}
                            </label>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" ng-model="reponse.rep"
                                       placeholder="La réponse" ng-maxlength="20" required>
                                <button  class="form-control glyphicon glyphicon-remove-circle" ng-disabled="sondageForm.reponse.$valid" ng-show="$last" ng-click="removeResponseToSondage()"/>
                            </div>
                        </fieldset>

                    </div>
                </div>
                <button class="btn btn-primary" ng-disabled="!Modifysondageform.$valid" >Valider</button>
            </form>
        </div>
    </div>
</div>
